*{
margin: 0;
padding:0 ;
box-sizing: border-box;
}
:root{
/* come si mettono?*/
}
.main-menu{
    position: fixed;
    width: 100%;
    color: white;
    height: 40px;
}
.container{
    display: flex;
    width: 70%;
    max-width: 1152px;
    margin: auto;   
}
header .container{
        justify-content: space-between;
        align-items: center;
}
.debug .main-menu{
    width: 100%;
    background-color:#ff6900;
}
.col{
    width: calc( 100% / 12 * 3);   
}
.genere{
    display: flex;

}
.ico{
    display: flex;
    justify-content: flex-end;
}
.logo img{
    width: 50%;
    margin-top: 5px;
}
.logo{
    justify-content: center;
}
a{
    color: white;
    text-decoration: none;
}
main{
    height: 800px;
}
